html{
	height: 100%;
	width: 100%;
	min-height: 100%;
	min-width: 100%;
    margin: 0;
}

body {
	height: 100%;
	width: 100%;
	min-height: 100%;
	min-width: 100%;
    margin: 0;
}


@font-face {
  font-family: 華康魏碑體;
  src: url(../華康魏碑體.TTC);
}
 

a {
    text-decoration: none;
    text-align: center;
    font-family: 華康魏碑體,微軟正黑體;
    color: white;
}

ul,li {
   list-style: none;
}

@media (max-width: 767px) {
	body {
		/*background-image: url(../img/backmobile.jpg);
		background-size:cover;
		background-repeat: no-repeat;*/
	}
	html {
		height: 100%;
		min-height: 100%;
	}
	body {
		min-height: 100%;
	}
}

#mbody {
    position: absolute;
    width: 100%;
    height: auto;
    top: 525px;
    z-index: 11;
    height: auto;
    background: rgba(0%,0%,0%,0.8);
}

#extramenu {
    width: 100%;
    height: auto;
    z-index: 12;
    
    
}

#exmenutitle {
    position: relative;
    width: 70%;
    height: 150px;
    margin-right: 15%;
    margin-left: 15%;
    margin-bottom: 70px;
    color: white;
    text-align: center;
    font-size: 60px;
    font-family: 華康魏碑體,微軟正黑體;
}



ul.extramenu {
    height: auto;
   /* background-color: black; */
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
}

ul.extramenu li {
    position: relative;
    display: block;
    left: 5%;
}

ul.extramenu li > a {
    font-size: 40px;
    display: block;
    width: 90%;
    text-align: left;
    height: 40px;
    font-weight: 900;
    padding-top: 30px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

ul.extramenu li  > a:hover {
    background: rgba(30%,30%,30%,0.7);
}

ul.extramenu li ul li  {
    padding-bottom: 5px;
}


.exmenu {
    position: relative;
    width: 90%;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: red;
    height: auto;
}



.bg {
    z-index: 200;
    position: absolute;
    height: 100%;
    width: 15%;
    top: 500px;
}





#mainmenu {
    position: absolute;
    top: 0px;
    width: 100%;
    z-index: 100;
    height: 55px;
    background-color: black; 

}

ul.mmenu > li {
    margin-top: 15px;
}

ul.mmenu li {
    position: relative;
    float: right;
    width: 150px;
    height: 25px;
}

ul.mmenu li a {
    display: block;
    color: #FFF;
    height: 25px;
    font-size: 25px;
}

ul.mmenu ul li a {
    padding-top: 5px;
    margin-bottom: 5px; 
    padding-bottom: 5px;
}

ul.mmenu ul li {
    height: 30px;
}

ul.mmenu > li > a {
    border-left: 1px solid #CCC;

}


ul.mmenu > li:last-child  a{
    border-left: none;
}

ul.mmenu > li > a:hover {
    color: #666;
    background: #DDD
}

ul.mmenu ul {
    display: none;
    float: right;
    position: absolute;
    left: 0;

}
        /* 當第一層選單被觸發時，指定第二層顯示 */

ul.mmenu li:hover > ul {
    display: block;
}
        /* 特定在第二層或以後下拉部分 li 之樣式 */

ul.mmenu ul li {
    border-bottom: 1px solid #DDD;
    padding-bottom: 5px;
    width: 150px;
}

ul.mmenu ul li:first-child {
    margin-top: 15px;
}

        /* 特定在第二層或以後下拉部分 li （最後一項不要底線）之樣式 */

ul.mmenu ul li:last-child {
    border-bottom: none;
}
        /* 第二層或以後選單 li 之樣式 */

ul.mmenu ul a {
    color: #666;
    background: #EEE;
    padding-bottom: 3px;
}

ul.mmenu ul a:hover {
    background: #CCC;
}



#gotop {
    z-index: 300;
    position: fixed;
    right: 0px;
    top: 450px;
    width: 100px;
    height: 30px;
    
    color: black;
}

#gotop a {
    background: rgba(80%,80%,80%,0.8);
    background-image: url(../img/Top.png) ;
    background-size: 100% 100%;
    display: block;
    width: 100%;
    height: 100%;
}

#space {
    position: relative;
    top: 0px;
    height: 400px;
    width: 100%;
}

.tsize20 {
    font-size: 20px;
}

#goback {
    position: absolute;
    width: auto;
    height: 30px;
    top: 15px;
    left: 20px;
}

#goback a {
    display: block;
    width: 100%;
    height: 100%;
    color: white;
    font-size: 25px;
}

#goback a:hover {
    border: 1px solid white;
}

.normallink {
    text-decoration: underline;
    font-size: 15px;
    color: #00bfff;
}

#titlephoto {
    position: absolute;
    width: 100%;
    z-index: 10;
    top: 0px;
}

#shadow {
    position: absolute;
    top: 425px;
    width: 100%;
    height: 100px;
    background-image: url(../img/Gradient.png);
    background-size: 100% 100px;
    opacity:0.8;
}