html{
	height: 100%;
	width: 100%;
	min-height: 100%;
	min-width: 100%;
    margin: 0;
}

body {
	height: 100%;
	width: 100%;
	min-height: 100%;
	min-width: 100%;
    margin: 0;
}

body:after {
content: url(../img/bg.jpg) url(../img/bg2.jpg);
display: none;  
}

a {
    text-decoration: none;
    text-align: center;
    font-family: 微軟正黑體;
    color: white;
}

ul,li {
   list-style: none;
}

@media (max-width: 767px) {
	body {
		/*background-image: url(../img/backmobile.jpg);
		background-size:cover;
		background-repeat: no-repeat;*/
	}
	html {
		height: 100%;
		min-height: 100%;
	}
	body {
		min-height: 100%;
	}
}


#mbody {
    position: absolute;
    width: 100%;
    height: auto;
    top: 475px;
    z-index: 11;
    height: auto;
    background-color: black;
}

#extramenu {
    width: 100%;
    height: auto;
    z-index: 12;
    
    
}

#exmenutitle {
    position: relative;
    width: 70%;
    height: 125px;
    margin-right: 15%;
    margin-left: 15%;
    margin-bottom: 70px;
    font-family: 微軟正黑體;
    color: white;
    text-align: center;
    font-size: 40px;
}



ul.extramenu {
    height: auto;
    background-color: black; 
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
}

ul.extramenu li {
    position: relative;
    display: block;

    left: 5%;
}

ul.extramenu li a {
    font-size: 30px;
    display: block;
    width: 90%;
    text-align: left;
    height: 40px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

ul.extramenu li a:hover {
    background: rgba(30%,30%,30%,0.5);
}

ul.extramenu li ul li  {
    padding-bottom: 5px;
}


.exmenu {
    position: relative;
    width: 90%;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: red;


}

#content1_1 {
    height: 500px;
}

#content1_2 {
    height: 500px;
}

#content1_3 {
    height: 500px;
}

.bg {
    z-index: 200;
    position: absolute;
    height: 100%;
    width: 15%;
    top: 450px;
}

#lbg {
    background-image: url(../img/bg.jpg);
    background-size:cover;
}

#rbg {
    background-image: url(../img/bg2.jpg);
    background-size:cover;
    left: 85%;
}



#mainmenu {
    position: absolute;
    top: 0px;
    width: 100%;
    z-index: 100;
    height: 45px;
    background-color: black; 

}

ul.mmenu > li {
    margin-top: 10px;
}

ul.mmenu li {
    position: relative;
    float: right;
    width: 150px;
    height: 25px;
}

ul.mmenu li a {
    display: block;
    color: #FFF;
    height: 25px;
    font-size: 25px;
    font-family: 微軟正黑體;}

ul.mmenu ul li a {
    padding-top: 5px;
    margin-bottom: 5px; 
    padding-bottom: 5px;
}

ul.mmenu ul li {
    height: 30px;
}

ul.mmenu > li > a {
    border-left: 1px solid #CCC;

}

ul.mmenu > li > a:first-child {
    border-right: 1px solid #CCC;
}

ul.mmenu > li > a:hover {
    color: #666;
    background: #DDD
}

ul.mmenu ul {
    display: none;
    float: right;
    position: absolute;
    left: 0;

}
        /* 當第一層選單被觸發時，指定第二層顯示 */

ul.mmenu li:hover > ul {
    display: block;
}
        /* 特定在第二層或以後下拉部分 li 之樣式 */

ul.mmenu ul li {
    border-bottom: 1px solid #DDD;
    padding-bottom: 5px;
    width: 150px;
}

ul.mmenu ul li:first-child {
    margin-top: 10px;
}

        /* 特定在第二層或以後下拉部分 li （最後一項不要底線）之樣式 */

ul.mmenu ul li:last-child {
    border-bottom: none;
}
        /* 第二層或以後選單 li 之樣式 */

ul.mmenu ul a {
    color: #666;
    background: #EEE;
    padding-bottom: 3px;
}

ul.mmenu ul a:hover {
    background: #CCC;
}

#shadow {
    position: absolute;
    top: 375px;
    width: 100%;
    height: 100px;
    background-image: url(../img/Gradient.png);
    background-size: 100% 100px;
}

#gotop {
    z-index: 300;
    position: fixed;
    right: 0px;
    top: 450px;
    width: 100px;
    height: 30px;
    
    color: black;
}

#gotop a {
    background: rgba(90%,90%,90%,0.9);
    display: block;
    width: 100%;
    height: 100%;
}

#space {
    position: relative;
    top: 0px;
    height: 150px;
    width: 100%;
}

#header {
    position: fixed;
    top: 0px;
}
