html{
	height: 100%;
	width: 100%;
	min-height: 100%;
	min-width: 100%;
    margin: 0;
}
body {
	height: 100%;
	width: 100%;
	min-height: 100%;
	min-width: 100%;
    margin: 0;
}

a {
    text-decoration: none;
    text-align: center; 
}
#bg{
    height: 100%;
    width: 100%;
    min-height: 100%;
	min-width: 100%;
    margin: 0;
}

#header {
    position: fixed;
    top:0px;
    height: 8%;
    width: 100%;
    z-index: 11;
}


.headerbtn:hover {
	cursor: pointer;
	text-shadow:0px 0px 8px #f00;
	font-family:華康魏碑體,微軟正黑體;
}
.active{
    text-shadow:0px 0px 8px #f00;
	font-family:華康魏碑體,微軟正黑體;
}
#btngrp {
    position: fixed;
    top:0px;
    right:0px;
}

.titletext {
    padding: 10px;
    margin-right: 10px;
    font-weight:bolder;
}

#baimg1 {
    background-image: url(../img/1.jpg);
    background-size:cover;
    background-position: center center;
}

#baimg2 {
    background-image: url(../img/2.jpg);
    background-size:cover;
    background-position: center center;
}

#baimg3 {
    background-image: url(../img/3.jpg);
    background-size:cover;
    background-position: center center;
}

#baimg4 {
    background-image: url(../img/4.jpg);
    background-size:cover;
    background-position: center center;
}

#baimg5 {
    background-image: url(../img/5.jpg);
    background-size:cover;
    background-position: center center;
}

.backimg{
	width: 100%;
    height: 100%;
    min-height: 100%;
	min-width: 100%;
    MARGIN: 0px auto;
}

#mainback{
	height: 100%;
	width: 100%;
	min-height: 100%;
	min-width: 100%;
	MARGIN: 0px auto;
	z-index: 1;
	overflow:hidden;
}
#content {
    background-color: rgba(0,0,0,0.8);
    position: absolute;
    top: 20%;
    left: 10%;
    height: auto;
    width: 80%;
    z-index: 10;
    color:white;
    margin-bottom: 100px;
    margin-top: 10px;
}
#content legend{
    font-size: 30px;
    color:white;
    display: block;
    width: 100%;
    padding: 0;
    font-size: 21px;
    line-height: 40px;
    border: 0;
    border-bottom: 1px solid #e5e5e5;
}

.text {
    color: white;
    width:100%;
    height: auto;
    font-size: 20px;
    line-height: 27px;
    letter-spacing: 1px;
    margin-left: 75px;
}


#table1 {
    
    border: 1px solid #555555;

}

#table1 th {
    background: gray;
    border: 1px solid #555555;
    font-weight: 900;
}

#table1 td {
    width: 400px;
    height: auto;
    border: 1px solid #555555;
    padding: 10px;
    line-height: 25px;
}

#table1 td:first-child {
    text-align: center;
    padding-top: 10px;
    width: 100px;
} 

#list1 {
    list-style: decimal;
    margin-left: 50px;
}

#table2 {
    line-height: 25px;
    font-size: 25px;
    
}

#table2 th {
    border: 1px solid #555555;
    font-weight: 900;
    padding: 5px;
    
}

#table2 td {
    width: 350px;
    height: auto;
    border: 1px solid #555555;
    text-align: left;
    padding: 5px;
}

#table2 td:first-child {
    width: 150px;
    padding-left: 15px; 
}

#table3 {
    color: black;
    border: 1px solid #555555;
}

#table3 th {
    padding-left: 10px;
    padding-right: 10px;
    background: gray;
    border: 3px solid none; 
    font-weight: 900;
}

#table3 td {
    width: auto;
    background-color: #fdf5e6;
    margin-right: 5px; 
    height: 50px;
    padding: 10px;
    border: 3px double rgba(0,0,0,0.1);
    font-size: 15px;

}

.list2 {
    float: left;
    margin-right: 5px;
    margin-bottom: 150px;
}

.list2 li{
    /*color: black;
    background-color: #fdf5e6;*/
	border:1px solid white;
    margin-top: 5px;
    width: auto;
    padding: 10px;
}

.list2 li:first-child {
    /*background-color: #d2b48c;*/
    text-align: center;
}

#mainmenu {
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 100;
    height: 55px;
    background-color: black; 

}

ul.mmenu > li {
    margin-top: 15px;
}

ul.mmenu li {
    position: relative;
    float: right;
    width: 300px;
    height: 25px;
    
}

ul.mmenu li a {
    display: block;
    color: #FFF;
    height: 25px;
    font-size: 23px;
    padding-left: 10px;
    padding-right: 10px;
}




ul.mmenu > li > a {
    border-left: 1px solid #CCC;

}


ul.mmenu > li:last-child  a{
    border-left: none;
}



#goback {
    position: fixed;
    width: auto;
    height: 30px;
    top: 15px;
    left: 20px;
}

#goback a {
    display: block;
    width: 100%;
    height: 100%;
    color: white;
    font-size: 25px;
}

#goback a:hover {
    border: 1px solid white;
}

.hd {
    font-size: 45px;
    padding-left: 50px;
}
