
.Atext {
	cursor: pointer;
	text-shadow:0px 0px 8px #fff;
	font-weight:bolder;
	font-family:華康魏碑體,微軟正黑體;
}
.Atext:hover{
	color:#2415cb;
	text-shadow:3px 3px 10px #fff;
}

.inline {
	display: inline-block;
}


.gradient1{
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzkzNjMzMyIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM3Mzg4MGEiIHN0b3Atb3BhY2l0eT0iMC45Ii8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
background: -moz-linear-gradient(left, rgba(147,99,51,0) 0%, rgba(115,136,10,0.9) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(147,99,51,0)), color-stop(100%,rgba(115,136,10,0.9))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left, rgba(147,99,51,0) 0%,rgba(115,136,10,0.9) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left, rgba(147,99,51,0) 0%,rgba(115,136,10,0.9) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left, rgba(147,99,51,0) 0%,rgba(115,136,10,0.9) 100%); /* IE10+ */
background: linear-gradient(to right, rgba(147,99,51,0) 0%,rgba(115,136,10,0.9) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00936333', endColorstr='#e673880a',GradientType=1 ); /* IE6-8 */
}

.gradient2{
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
/*background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMTAwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjOTM2MzMzIiBzdG9wLW9wYWNpdHk9IjAiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwLjk1Ii8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);*/
background: -moz-linear-gradient(-15deg, rgba(147,99,51,0) 0%, rgba(255,255,255,0.9) 100%); /* FF3.6+ */
/*background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(147,99,51,0)), color-stop(100%,rgba(255,255,255,0.9)));*/ /* Chrome,Safari4+ */
/*background: -webkit-linear-gradient(-15deg, rgba(147,99,51,0) 0%,rgba(255,255,255,0.9) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(-15deg, rgba(147,99,51,0) 0%,rgba(255,255,255,0.9) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(-15deg, rgba(147,99,51,0) 0%,rgba(255,255,255,0.9) 100%); /* IE10+ */
background: linear-gradient(170deg, rgba(147,99,51,0) 0%,rgba(255,255,255,0.9) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00936333', endColorstr='#f2ffffff',GradientType=1 ); /* IE6-8 fallback on horizontal gradient */
}