html{
	height: 100%;
	width: 100%;
	min-height: 100%;
	min-width: 100%;
    margin: 0;
    overflow: hidden;
}

body {
	height: 100%;
	width: 100%;
	min-height: 100%;
	min-width: 100%;
	overflow: hidden;
}

a {
    text-decoration: none;
    text-align: center;
}

 ul.mmenu li {
    position: relative;
    float: right;
    width: 150px;
}


ul.mmenu li a {
    padding-top: 10px;
    padding-bottom: 10px;
    display: block;
    background: rgba(0%,0%,100%,0.25);
    color: #FFF;
}

ul.mmenu > li > a {
    border-bottom: 1px solid #CCC;
    border-left: 1px solid #CCC;
}

ul.mmenu > li > a:hover {
    color: #666;
    background: #DDD
}

ul.mmenu ul {
    display: none;
    float: right;
    position: absolute;
    right: 0;
    margin: 0;
}

ul.mmenu li:hover > ul {
    display: block;
}

ul.mmenu ul li {
    border-bottom: 1px solid #DDD;
    width: 150px;
}

ul.mmenu ul li:last-child {
    border-bottom: none;
}

ul.mmenu ul a {
    width: 150px;
    color: #666;
    background: #EEE;
}

#tback a:hover {
    color: red;
    font-weight: 900;
}

#mainmenu {
    position: absolute;
    width: 100%;
    float: right;
    z-index: 5;
    height: 37px;
}

#titlephoto {
    position: absolute;
    z-index: 3;
    left: 30px;
    top: 10px;
}

#baimg1 {
    background-image: url(../img/back1.jpg);
    background-size:cover;
    background-position: center center;
}

#baimg2 {
    background-image: url(../img/back2.jpg);
    background-size:cover;
    background-position: center center;
}

#baimg3 {
    background-image: url(../img/back3.jpg);
    background-size:cover;
    background-position: center center;
}

#baimg4 {
    background-image: url(../img/back4.jpg);
    background-size:cover;
    background-position: center center;
}

#baimg5 {
    background-image: url(../img/back5.jpg);
    background-size:cover;
    background-position: center center;
}

.backimg{
	width: 100%;
    height: 100%;
    min-height: 100%;
	min-width: 100%;
    MARGIN: 0px auto;
}

#mainback{
	height: 100%;
	width: 100%;
	min-height: 100%;
	min-width: 100%;
	MARGIN: 0px auto;
	z-index: 1;
	overflow:hidden;
}

#extramenu {
    position: absolute;
    width: 100%;
    height: 400px;
    top: 100px;
}
