html{
	height: 100%;
	width: 100%;
	min-height: 100%;
	min-width: 100%;
    margin: 0;
    overflow: hidden;
}

body {
	height: 100%;
	width: 100%;
	min-height: 100%;
	min-width: 100%;
    margin: 0;
    overflow: hidden;
}

body:after {
content: url(../img/1.jpg) url(../img/2.jpg) url(../img/3.jpg) url(../img/4.jpg) url(../img/5.jpg);
display: none;
}





@media (max-width: 767px) {
	body {
		/*background-image: url(../img/backmobile.jpg);
		background-size:cover;
		background-repeat: no-repeat;*/
	}
	html {
		height: 100%;
		min-height: 100%;
	}
	body {
		min-height: 100%;
	}
}



#titlephoto {
    position: fixed;
    width: 100%;
    z-index: 10;
    top: 0px;
}

#baimg1 {
    background-image: url(../img/1.jpg);
    background-size:cover;
    background-position: 0px -100px;
}

#baimg2 {
    background-image: url(../img/2.jpg);
    background-size:cover;
    background-position: 0px -150px;
}

#baimg3 {
    background-image: url(../img/3.jpg);
    background-size: cover;
    background-position: 0px -250px;
}

#baimg4 {
    background-image: url(../img/4.jpg);
    background-size:cover;
    background-position: 0px -275px;
}

#baimg5 {
    background-image: url(../img/5.jpg);
    background-size:cover;
    background-position: 0px -200px;
}

.backimg {
	width: 100%;
    height: 100%;
    min-height: 100%;
	min-width: 100%;
    MARGIN: 0px auto;
    ;background-repeat:no-repeat;

}

#mainback {
	height: 100%;
	width: 100%;
	min-height: 100%;
	min-width: 100%;
	MARGIN: 0px auto;
	z-index: 1;
	overflow:hidden;
}

#exweb {
    position: absolute;
    top: 0px;
    height: 100%;
    width: 100%;
    z-index: 50;
}

