html{
	height: 100%;
	width: 100%;
	min-height: 100%;
	min-width: 100%;
    margin: 0;
}

body {
	height: 100%;
	width: 100%;
	min-height: 100%;
	min-width: 100%;
    margin: 0;
}

body:after {
content: url(../img/bg.jpg) url(../img/bg2.jpg);
display: none;  
}

a {
    text-decoration: none;
    text-align: center;
    font-family: 微軟正黑體;
    color: white;
}

ul,li {
   list-style: none;
}

@media (max-width: 767px) {
	body {
		/*background-image: url(../img/backmobile.jpg);
		background-size:cover;
		background-repeat: no-repeat;*/
	}
	html {
		height: 100%;
		min-height: 100%;
	}
	body {
		min-height: 100%;
	}
}

#extramenu {
    width: 100%;
    height: auto;
    z-index: 12;
    
}

#mbody {
    position: absolute;
    width: 100%;
    height: auto;
    top: 300px;
    z-index: 11;
    height: auto;
}

ul.extramenu {
    height: auto;
    background-color: black; 
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
}

ul.extramenu li {
    position: relative;
    display: block;
    left: 5%;
}

ul.extramenu li a {
    font-size: 30px;
    display: block;
    width: 90%;
    text-align: left;
    height: 40px;
    padding-top: 15px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

ul.extramenu li a:hover {
    background: rgba(30%,30%,30%,0.5);
}


.exmenu {
    position: relative;
    width: 90%;


}

#content1_1 {
    height: 500px;
}

#content1_2 {
    height: 500px;
}

#exmenutitle {
    position: relative;
    width: 70%;
    height: 100px;
    margin-right: 15%;
    margin-left: 15%;
    margin-bottom: 70px;
    font-family: 微軟正黑體;
    color: white;
    text-align: center;
    font-size: 40px;
}

.bg {
    position: fixed;
    width: 15%;
    height: 100%;
    z-index: 2;
}

#leftbg {

}

#rightbg {
    left: 85%;
} 