#img1 {
	float: right;
}

#img2 {
	float: right;
	right: 50px;
}

#img3 {
	position: absolute;
	float: right;
	left: 670px;
	top: 275px;
}

#img4 {
	float: right;
}

#img5 {
	float: right;
}

#img6 {
	float: left;
	margin: 10px;
}

#img7 {
	/*top: 50px;*/
	float: right;
}

#img8 {
	float: right;
}

#img9 {
	position: absolute;
	float: right;
	left: 630px;
	top: 280px;
}

#img10 {
	float: right;
}

#img11 {
    float: right;
}

#img12 {
    position: absolute;
    float: right;
    left: 620px;
    top: 350px;
}

#img13 {
    float: right;
}

#img14 {
    float: right;
}

#img15 {
    position: absolute;
    float: right;
    left: 670px;
    top: 300px;
}

#img16 {
    float: right;
}