#imgwithtext1 {
	float: right;
	width: 300px;
	height: auto;
	line-height: 20px;
}

#imgwithtext2 {
	float: right;
	width: 450px;
	height: auto;
	line-height: 20px;
}

#imgwithtext3 {
	float: right;
	width: 450px;
	height: auto;
	line-height: 20px;
}