#table1 {
    
    border: 1px solid #555555;

}



#table1 td {
    width: 40px;
    height: 30px;
    border: 1px solid #555555;
    padding: 3px;
    line-height: 25px;
    text-align: center;
}

#table1 td:first-child {
    text-align: center;
    padding-top: 5px;
    width: 150px;
    height: 30px; 
}

#table1 td:last-child {
    text-align: center;
    padding-top: 5px;
    width: 200px;
    height: 30px; 
}  