#table1 {
    
    border: 1px solid #555555;

}

#table1 th {
    background: gray;
    border: 1px solid #555555;
    font-weight: 900;
}

#table1 td {
    width: 400px;
    height: auto;
    border: 1px solid #555555;
    padding: 10px;
    line-height: 25px;
}

#table1 td:first-child {
    text-align: center;
    padding-top: 10px;
    width: 100px;
} 